<!-- Main Footer -->

<footer class="main-footer">
<!-- To the right -->
<div class="float-right d-none d-sm-inline">
    Anything you want
    <!-- <%= debug(params) if Rails.env.development? %>  -->
</div>
<!-- Default to the left -->
<strong>Copyright &copy; 2020 All rights reserved.
</footer>