
@import '@fortawesome/fontawesome-free';
@import "bootstrap";
@import "admin-lte";
@import "alert_ override_style";

[class*="sidebar-dark-"] {
    background-color: #0070e7; } //#343a40 230180 4400ff
    [class*="sidebar-dark-"] .sidebar a {
      color: rgba(255, 255, 255, 0.9); } //#c2c7d0
    [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link {
      color: rgba(255, 255, 255, 0.9); } //#c2c7d0

.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*="navbar"]) {
    background-color: #0070e7;} //#343a40
[class*="sidebar-dark"] .brand-link, [class*="sidebar-dark"] .brand-link .pushmenu {
    color: rgba(255, 255, 255, 0.9);} //rgba(255, 255, 255, 0.8);

[class*="sidebar-dark"] .brand-link {
    border-bottom: 1px solid #0256af; //330d9b
}

