//@import "~fullcalendar/main";



.fc-col-header-cell-cushion  {
    color: #000000;
}

.fc-daygrid-day-number {
    color: #000000;
}

.fc-button-primary {
    background-color: #004085;
}
.fc-h-event {
    background-color: #004085;
}